<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-12">
    		<p>I spend most of time coding, and I love it! While I'm a proficient full-stack
            developer, my expertise is in building scalable backend services.
        </p>
        <p>My favorite aspect of software development is solving challenging problems. I love collaborating with my teammates whether it's pair programming or just talking through a process workflow.
	</p>
	<p>In my next role, I'd like to take on team leadership responsibilites and gain valuable experience as a lead engineer.
        </p>
      </div>
	<!-- <div class="col-sm-6">
		<h3 style="margin-top:0;">Highlights</h3>
		<ul>
			<li>
    			</li> 
		</ul> 
	</div>-->
    </div>
  </div>
</section>
