<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>I've been working as as software developer at the Alzheimer's Association for over 4 years, and I love it! While I'm a proficient full-stack
            developer, my expertise is in building scalable backend services (API services, stream processing,
            and async mechanisms).
        </p>
        <p>
           I love building things.
           While hard engineering problems are often intrinsically fun to tackle,
           I'm most attracted to solving real customer problems with a business justification.
           I'm looking for an individual contributor role where I can take on collaborative
           team leadership responsibilites, and gain valuable experience.
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
			<!-- <li>
    			</li> -->
		    </ul>
	    </div>
    </div>
  </div>
</section>
